<% saved = reading_list.saved_by? current_reader %>

<button
  class="bp4-button bp4-intent-success bp4-icon-add <%= 'hidden' if saved %>"
  data-action="reading-list#save"
  data-target="reading-list.saveButton"
>
  <%= t '.save_reading_list' %>
</button>

<div
  class="reading-list__actions <%= 'hidden' unless saved %>"
  data-target="reading-list.savedTag"
>
  <div class="reading-list__tag">
    <span class="bp4-icon bp4-icon-tick"></span>
    <%= t '.reading_list_saved' %>
  </div>

  <button
    class="bp4-button bp4-minimal bp4-intent-danger bp4-icon-cross
           bp4-button--baseline-aligned"
    aria-label="<%= I18n.t('saved_reading_lists.destroy.remove_list') %>"
    data-action="reading-list#unsave"
  ></button>
</div>
