.admin
  .admin__readers
    %nav.bp4-navbar
      .bp4-navbar-group.bp4-align-left
        .bp4-navbar-heading Readers
        = form_for readers_path, method: :get, enforce_utf8: false do |f|
          = hidden_field_tag :role, params[:role]
          .bp4-input-group
            %span.bp4-icon.bp4-icon-search
            = text_field_tag :name, params[:name],
                             class: %w[bp4-input bp4-round bp4-icon-search],
                             placeholder: 'Search readers...'

      .bp4-navbar-group.bp4-align-right
        = link_to readers_path,
                  class: ['bp4-button', 'bp4-minimal',
                          ('bp4-active' unless params[:role] )] do
          All Readers
        = link_to readers_path(role: 'editor'),
                  class: ['bp4-button', 'bp4-minimal',
                          ('bp4-active' if params[:role] == 'editor' )] do
          Editors
        = link_to readers_path(role: 'invisible'),
                  class: ['bp4-button', 'bp4-minimal',
                          ('bp4-active' if params[:role] == 'invisible')] do
          Invisible Readers



    .bp4-dark
      %table.admin__table.bp4-html-table
        %thead
          %td Name
          %td Email
          %td Provider
          %td Last Signed In
          - @roles.each do |role|
            %td=role.name.capitalize
        -@readers.each do |reader|
          %tr{data: { reader_id: reader.id }}
            %td= reader.name
            %td
              %code= reader.email
            %td= reader.provider.capitalize rescue "—"
            %td= time_ago_in_words(reader.last_sign_in_at) rescue ""
            - @roles.each do |role|
              %td
                = toggle_role_button reader, role

        %tfoot
          %tr
            %td.pagination{colspan: 4 + @roles.length}
              %span.previous
                = link_to_previous_page @readers, t('views.pagination.previous').html_safe
              %span.info
                = page_entries_info @readers, entry_name: 'reader'
              %span.next
                = link_to_next_page @readers, t('views.pagination.next').html_safe
