%noscript
  .bp4-running-text.bp4-dark
    %h1
      = succeed ':' do
        = kase.short_title
      = kase.title

    %h2= kase.dek

    %p
      %em= kase.authors.map { |a| a[:name] }.to_sentence

    %p= kase.summary

    .bp4-callout.bp4-intent-danger.bp4-icon-error
      Javascript is required to use Gala.
