- content_for :title do
  = I18n.t('libraries.edit.edit_library')
  = library.name

.window.admin
  .admin-card.bp4-card.bp4-elevation-2
    %div
      %h1.admin__title= t '.edit_library'
      = render 'form', library: @library

  .admin-card__sidebar.bp4-dark.spaced--compact
    %h2.deployments__group= t '.library_managers'

    - @managerships.sort_by(&:manager_name).each do |managership|
      .editorship.non-spaced
        %span.bp4-tag.bp4-minimal= managership.manager_name
        - unless managership.manager == current_reader
          = form_with url: managership_path(managership),
                      method: :delete, local: true do |f|
            = f.button '',
                       aria: { label: I18n.t('managerships.destroy.remove') },
                       class: %w[bp4-button bp4-small bp4-minimal bp4-intent-danger bp4-icon-small-cross bp4-unsaturated],
                       data: { confirm: I18n.t('managerships.destroy.are_you_sure',
                                               name: managership.manager_name) }


    .admin-card__sidebar__actions
      = link_to new_library_managership_path library do
        %span.bp4-tag.bp4-intent-success
          %span.bp4-icon.bp4-icon-add
          %span= t 'managerships.new.add_manager'
