- content_for :title do
  = I18n.t('deployments.show.deployment_of', kase: deployment.case.short_title)
  —
  = deployment.group.name

.admin.md-container.bp4-dark
  %header.md-header
    %ul.bp4-breadcrumbs
      %li
        = link_to deployments_path, class: %w[bp4-breadcrumb] do
          = t 'deployments.index.my_deployments'
      %li
        %a.bp4-breadcrumb.bp4-disabled= deployment.group.name

    %h1.admin__title
      = t '.deployment_of_html', kase: deployment.case.short_title,
                                 kase_path: url_for(deployment.case)

  %aside.md-master
    .spaced.deployment.deployment--active
      = render 'invite_drawer', deployment: deployment

  %main.md-detail
    %h2.admin__title= t '.quiz_details'

    - if !deployment.posttest_assigned?
      %span.bp4-tag.bp4-minimal.bp4-large= t '.no_quiz_assigned'
      = link_to edit_deployment_path(deployment),
                class: %w[bp4-button bp4-icon-plus] do
        = t 'deployments.deployment.add_quiz'

    - else
      .quiz-details.bp4-card.bp4-running-text
        .quiz-details__metadata
          .quiz-details__counts
            %span.bp4-tag.bp4-minimal.bp4-large
              = t 'quizzes.quiz.multiple_choice_questions',
                  count: deployment.quiz.questions.multiple_choice.count

            %span.bp4-tag.bp4-minimal.bp4-large
              = t 'quizzes.quiz.open_ended_questions',
                  count: deployment.quiz.questions.open_ended.count

          .quiz-details__actions
            = link_to edit_deployment_path(deployment),
                      class: %w[bp4-button bp4-icon-edit] do
              = t 'deployments.deployment.edit_quiz'

        %hr

        %ol
          - deployment.quiz.questions.each do |question|
            %li= question.content
            - if question.open_ended?
              %p
                %em= t '.sample_answer'
                %br
                = question.correct_answer
            - else
              %ul
                - question.options.each do |option|
                  %li{ class: ('quiz-details__correct-answer' if option == question.correct_answer) }
                    = option

    %h2.admin__title= t '.enrolled_learners'
    = render 'enrolled_learners', deployment: deployment,
                                  progressions: @progressions
    - if deployment.posttest_assigned?
      = link_to deployment_submissions_path(deployment, format: :csv),
                class: %i[bp4-button bp4-icon-download] do
        = t '.download_all_quiz_submissions'
